absl-py==0.13.0
astunparse==1.6.3
attrs==19.3.0
audiogrep==0.1.5
backcall==0.1.0
bleach==3.1.0
cached-property==1.5.2
cachetools==4.2.2
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
dataclasses==0.8
dateparser==0.7.2
decorator==4.4.0
defusedxml==0.6.0
dlib==19.22.0
entrypoints==0.3
flatbuffers==1.12
gast==0.4.0
grpcio==1.34.1
h5py==3.1.0
humanize==0.5.1
idna==2.8
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==0.23
imutils==0.5.4
ipykernel==5.1.3
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.3
jsonschema==3.1.1
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.1.1
maya==0.6.1
maya-cmds-help==0.6.4
mistune==0.8.4
more-itertools==7.2.0
moviepy==1.0.3
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
numpy==1.19.5
oauthlib==3.1.1
opencv-contrib-python==4.5.2.54
opt-einsum==3.3.0
pandas==1.0.1
pandocfilters==1.4.2
parso==0.5.1
pendulum==2.0.5
pickleshare==0.7.5
Pillow==7.2.0
pocketsphinx==0.1.15
proglog==0.1.9
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydub==0.24.1
Pygments==2.4.2
pyparsing==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
python-osc==1.7.7
pytz==2019.3
pytzdata==2019.3
pywin32==225
pywinpty==0.5.5
PyYAML==5.4.1
pyzmq==18.1.0
qtconsole==4.5.5
redis==3.3.11
regex==2020.1.8
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.15.0
snaptime==0.2.4
soupsieve==1.9.5
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
tqdm==4.48.0
traitlets==4.3.3
typing-extensions==3.7.4.3
tzlocal==2.0.0
urllib3==1.25.7
virtualenv==16.7.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==0.6.0
